### Collection data types
---
Tipe data yang memungkinkan penyimpanan beberapa nilai dalam satu variabel. Contoh tipe data koleksi adalah list, tuple, set, dan dictionary.

1. List
List adalah tipe data koleksi yang dapat menyimpan beberapa nilai dalam satu variabel. List bersifat terurut dan dapat diubah (mutable). Anda dapat menambahkan, menghapus, atau mengubah elemen dalam list.

Contoh pembuatan list:
listMemberNCTDream = ["jaemin", "jeno", "jisung", "chenle", "renjun", "haechan", "mark"]

2. Tuple
Tuple adalah tipe data koleksi yang mirip dengan list, tetapi bersifat tidak dapat diubah (immutable). Setelah tuple dibuat, Anda tidak dapat mengubah, menambahkan, atau menghapus elemen di dalamnya.

contoh pembuatan tuple:
tupleMemberNCTDream = ("jaemin", "jeno", "jisung", "chenle", "renjun", "haechan", "mark")

3. Set
Set adalah tipe data koleksi yang tidak berurutan dan tidak mengizinkan duplikasi elemen. Anda dapat menambahkan atau menghapus elemen dari set, tetapi tidak dapat mengubah elemen yang ada.

Contoh pembuatan set:
setMemberNCTDream = {"jaemin", "jeno", "jisung", "chenle", "renjun", "haechan", "mark"}

4. Dictionary
Dictionary adalah tipe data koleksi yang menyimpan pasangan kunci-nilai (key-value pairs). Setiap kunci harus unik, dan Anda dapat mengakses nilai menggunakan kunci tersebut. Dictionary bersifat tidak berurutan dan dapat diubah (mutable).

Contoh pembuatan dictionary:
nctMember1 = {"nama": "Jaemin", "umur": 25, "unit": "Dream"}
nctMember2 = {"nama": "Jeno", "umur": 25, "unit": "Dream"}
nctMember3 = {"nama": "Jisung", "umur": 23, "unit": "Dream"}
nctMember4 = {"nama": "Chenle", "umur": 23, "unit": "Dream"}
nctMember5 = {"nama": "Renjun", "umur": 24, "unit": "Dream"}
nctMember6 = {"nama": "Haechan", "umur": 25, "unit": "Dream"}
nctMember7 = {"nama": "Mark", "umur": 26, "unit": "Dream"}

# List
Sebagai sebuah box yang bisa menyimpan banyak barang dengan ada batasnya, barang-barang di dalam box tersebut bisa diubah, ditambah, atau dikurangi. nomor index pada list diberikan pada setiap elemen atau value-nya dimulai dari 0.

In [3]:
data = ["Jungwoo", "Jaehyun", "Doyoung", "Ten", "Mark", "Haechan", "Jeno", "Renjun", "Chenle", "Jisung"]
print(type(data))
print(data)

<class 'list'>
['Jungwoo', 'Jaehyun', 'Doyoung', 'Ten', 'Mark', 'Haechan', 'Jeno', 'Renjun', 'Chenle', 'Jisung']

In [ ]:
# Akses bagian dari list
data = ["Jaemin", "25", "NCT Dream", "177cm", "False", "Seoul"]
print(data[0])  # Mengakses elemen pertama
print(data[1])  # Mengakses elemen kedua
print(data[2])  # Mengakses elemen ketiga


# Kalau pakai angka negatif, dia akan menghitung dari belakang
print(data[-2]) # Mengakses elemen kedua dari belakang
## Slicing pada List

Jaemin
25
NCT Dream
False

In [ ]:

data = ["Jaemin", "25", "NCT Dream", "177cm", "False", "Seoul"]
print(data[0:3])  # Mengakses elemen dari index 0 sampai 2
print(data[2:5])  # Mengakses elemen dari index 2 sampai 4
print(data[:4])   # Mengakses elemen dari index 0 sampai 3
print(data[3:])   # Mengakses elemen dari index 3 sampai akhir
print(data[-4:])  # Mengakses elemen dari index -4 sampai akhir
print(data[:-2])  # Mengakses elemen dari index 0 sampai -3
print(data[:])    # Mengakses semua elemen

['Jaemin', '25', 'NCT Dream']
['NCT Dream', '177cm', 'False']
['Jaemin', '25', 'NCT Dream', '177cm']
['177cm', 'False', 'Seoul']
['NCT Dream', '177cm', 'False', 'Seoul']
['Jaemin', '25', 'NCT Dream', '177cm']
['Jaemin', '25', 'NCT Dream', '177cm', 'False', 'Seoul']

## Ubah data list

In [12]:
## Ubah data pada list
data = ["Jaemin", "25", "NCT Dream", "177cm", "False", "Seoul"]
print("Sebelum diubah:", data)

data[1] = "26"  # Mengubah elemen di index 1
data[4] = "True"  # Mengubah elemen di index 4
print("Setelah diubah:", data)

Sebelum diubah: ['Jaemin', '25', 'NCT Dream', '177cm', 'False', 'Seoul']
Setelah diubah: ['Jaemin', '26', 'NCT Dream', '177cm', 'True', 'Seoul']

In [16]:
## Tambah data pada list
data = ["Jaemin", "25", "NCT Dream", "177cm", "False", "Seoul"]
print("Sebelum ditambah:", data)
data.append("Laki-laki")  # Menambahkan elemen di akhir list
print("Setelah diappend:", data)

data = ["Jaemin", "25", "NCT Dream", "177cm", "False", "Seoul"]
print("Sebelum ditambah:", data)
data.insert(3, "NCT U")  # Menambahkan elemen di index 3
print("Setelah diinsert:", data)

data = ["Jaemin", "25", "NCT Dream", "177cm", "False", "Seoul"]
print("Sebelum ditambah:", data)
data.extend(["Sub Rapper"])  # Menambahkan beberapa elemen di akhir list
print("Setelah diextend:", data)

Sebelum ditambah: ['Jaemin', '25', 'NCT Dream', '177cm', 'False', 'Seoul']
Setelah diappend: ['Jaemin', '25', 'NCT Dream', '177cm', 'False', 'Seoul', 'Laki-laki']
Sebelum ditambah: ['Jaemin', '25', 'NCT Dream', '177cm', 'False', 'Seoul']
Setelah diinsert: ['Jaemin', '25', 'NCT Dream', 'NCT U', '177cm', 'False', 'Seoul']
Sebelum ditambah: ['Jaemin', '25', 'NCT Dream', '177cm', 'False', 'Seoul']
Setelah diextend: ['Jaemin', '25', 'NCT Dream', '177cm', 'False', 'Seoul', 'Sub Rapper']

## Hapus data pada list

In [2]:
## Hapus data pada list
data = ["Jaemin", "25", "NCT Dream", "177cm", "False", "Seoul"]
print("Sebelum dihapus:", data)
data.remove("177cm")  # Menghapus elemen dengan nilai tertentu berdasarkan keyword
print("Setelah dihapus dengan remove:", data)

data = ["Jaemin", "25", "NCT Dream", "177cm", "False", "Seoul"]
print("Sebelum dihapus:", data)
del data[2]  # Menghapus elemen berdasarkan index
print("Setelah dihapus dengan del:", data)

data = ["Jaemin", "25", "NCT Dream", "177cm", "False", "Seoul"]
print("Sebelum dihapus:", data)
data.pop()  # Menghapus elemen terakhir
print("Setelah dihapus dengan pop :", data)

data = ["Jaemin", "25", "NCT Dream", "177cm", "False", "Seoul"]
print("Sebelum dihapus:", data)
data.pop(1)  # Menghapus elemen di index 1
print("Setelah dihapus dengan pop index 1:", data)

Sebelum dihapus: ['Jaemin', '25', 'NCT Dream', '177cm', 'False', 'Seoul']
Setelah dihapus dengan remove: ['Jaemin', '25', 'NCT Dream', 'False', 'Seoul']
Sebelum dihapus: ['Jaemin', '25', 'NCT Dream', '177cm', 'False', 'Seoul']
Setelah dihapus dengan del: ['Jaemin', '25', '177cm', 'False', 'Seoul']
Sebelum dihapus: ['Jaemin', '25', 'NCT Dream', '177cm', 'False', 'Seoul']
Setelah dihapus dengan pop : ['Jaemin', '25', 'NCT Dream', '177cm', 'False']
Sebelum dihapus: ['Jaemin', '25', 'NCT Dream', '177cm', 'False', 'Seoul']
Setelah dihapus dengan pop index 1: ['Jaemin', 'NCT Dream', '177cm', 'False', 'Seoul']

## Tambah data pada list dengan input user

In [2]:
kosong = []
print("Sebelum ditambah:", kosong)

while True:
    n_str = input("Masukkan jumlah anggota NCT yang ingin ditambahkan: ")
    if n_str.isdigit() and int(n_str) > 0:
        n = int(n_str)
        break
    else:
        print("Input harus berupa angka lebih dari 0!")

for i in range(n):
    newName = input(f"Masukkan nama ke-{i+1}: ")
    kosong.append(newName)

print("Setelah ditambah:", kosong)

Sebelum ditambah: []
Setelah ditambah: ['Jaemin', 'Jeno']

## LOOPING pada list

In [ ]:
data = ["Jaemin", "25", "NCT Dream", "177cm", "False", "Seoul"]
print(data)


for i, j in zip (data, range(len(data))): #i akan value, j akan index. jadi outputnya index ke-0 adalah Jaemin, index ke-1 adalah 25, dst
    print(f"Index ke-{j} adalah {i}")

['Jaemin', '25', 'NCT Dream', '177cm', 'False', 'Seoul']
Index ke-0 adalah Jaemin
Index ke-1 adalah 25
Index ke-2 adalah NCT Dream
Index ke-3 adalah 177cm
Index ke-4 adalah False
Index ke-5 adalah Seoul

## List concate

In [4]:
list1 = ["Jaemin", "25", "NCT Dream"]
list2 = ["177cm", "False", "Seoul"]

list3 = list1 + list2
print(list3)

['Jaemin', '25', 'NCT Dream', '177cm', 'False', 'Seoul']

## Cari index

In [5]:
print(list3.index("Seoul"))  # Mencari index dari elemen "Seoul"

5

## Fungsi sort

In [11]:
member =["Jaemin", "Jeno", "Haechan", "Mark", "Jisung", "Chenle", "Renjun"]
member.sort()  # Mengurutkan elemen dalam list secara ascending
print(f'Member yang sudah diurutkan: {member}')  # Menampilkan list yang sudah diurutkan

umur = [25, 22, 21, 23, 20, 20, 19]
umur.sort()  # Mengurutkan elemen dalam list secara ascending
print(f'Umur yang sudah diurutkan: {umur}')  # Menampilkan list yang sudah diurutkan

Member yang sudah diurutkan: ['Chenle', 'Haechan', 'Jaemin', 'Jeno', 'Jisung', 'Mark', 'Renjun']
Umur yang sudah diurutkan: [19, 20, 20, 21, 22, 23, 25]

## 2D List

In [12]:
data = [
    ["Jaemin", 26, "NCT Dream", "Laki-laki", "Seoul"],
    ["Jeno", 22, "NCT Dream", "Laki-laki", "Seoul"],
    ["Haechan", 21, "NCT Dream", "Laki-laki", "Seoul"],
    ["Mark", 23, "NCT Dream", "Laki-laki", "Los Angeles"],
    ["Jisung", 20, "NCT Dream", "Laki-laki", "Seoul"],
    ["Chenle", 20, "NCT Dream", "Laki-laki", "Shanghai"],
    ["Renjun", 19, "NCT Dream", "Laki-laki", "Shanghai"]
]

for member in data:
    print(f'Nama: {member[0]}, Umur: {member[1]}, Grup: {member[2]}, Jenis Kelamin: {member[3]}, Asal: {member[4]}')

Nama: Jaemin, Umur: 26, Grup: NCT Dream, Jenis Kelamin: Laki-laki, Asal: Seoul
Nama: Jeno, Umur: 22, Grup: NCT Dream, Jenis Kelamin: Laki-laki, Asal: Seoul
Nama: Haechan, Umur: 21, Grup: NCT Dream, Jenis Kelamin: Laki-laki, Asal: Seoul
Nama: Mark, Umur: 23, Grup: NCT Dream, Jenis Kelamin: Laki-laki, Asal: Los Angeles
Nama: Jisung, Umur: 20, Grup: NCT Dream, Jenis Kelamin: Laki-laki, Asal: Seoul
Nama: Chenle, Umur: 20, Grup: NCT Dream, Jenis Kelamin: Laki-laki, Asal: Shanghai
Nama: Renjun, Umur: 19, Grup: NCT Dream, Jenis Kelamin: Laki-laki, Asal: Shanghai