In [37]:
import pymysql
import pandas as pd

# Database configuration
db_user = 'root'
db_password = '17727721dhe'
db_host = 'localhost'
db_name = 'classicmodels'

# ETL (Extract, Transform, Load) Process
ETL adalah proses yang digunakan untuk mengumpulkan data dari berbagai sumber, mengubahnya ke dalam format yang sesuai, dan memuatnya ke dalam sistem penyimpanan data seperti data warehouse.

Kenapa ETL penting? 
1. **Integrasi Data**: ETL memungkinkan penggabungan data dari berbagai sumber yang berbeda.
2. **Kualitas Data**: Proses transformasi membantu membersihkan dan memperbaiki data.
3. **Analisis Data**: Data yang telah diolah dapat digunakan untuk analisis bisnis yang lebih baik.

## Konsep Dasar ETL
1. **Extract (Ekstraksi)**: Mengambil data dari berbagai sumber seperti database, file, API, dll.
2. **Transform (Transformasi)**: Mengubah data menjadi format yang sesuai, termasuk pembersihan data, penggabungan, dan penghitungan.
3. **Load (Pemuatan)**: Memuat data yang telah diubah ke dalam sistem penyimpanan data tujuan.

### Proses Extract (detail)
1. **Identifikasi sumber data**: Menentukan dari mana data akan diambil.
2. **Koneksi ke sumber data**: Membangun koneksi ke sumber data, seperti database atau API.
3. **Pengambilan data**: Mengambil data dari sumber yang telah teridentifikasi dan terhubung.

In [ ]:
def get_data(code):

    # Create a connection to the database
    connection = pymysql.connect(
        host=db_host,
        user=db_user,
        password=db_password,
        database=db_name
    )

    cursor = connection.cursor()

    ## Query dari tabel products
    query = '''
    SELECT * FROM products;
    '''
    cursor.execute(query)
    hasil = cursor.fetchall()

    columns_name = [desc[0] for desc in cursor.description]
    products = pd.DataFrame(hasil, columns=columns_name)

    return products

In [40]:
x = '''
SELECT PrdoductCode, 
ProductName, 
ProductLine, 
BuyPrice
FROM  Products;
'''

get_data(x)

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
1,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
2,S10_2016,1996 Moto Guzzi 1100i,Motorcycles,1:10,Highway 66 Mini Classics,"Official Moto Guzzi logos and insignias, saddl...",6625,68.99,118.94
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,Motorcycles,1:10,Red Start Diecast,"Model features, official Harley Davidson logos...",5582,91.02,193.66
4,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00
...,...,...,...,...,...,...,...,...,...
105,S700_3505,The Titanic,Ships,1:700,Carousel DieCast Legends,"Completed model measures 19 1/2 inches long, 9...",1956,51.09,100.17
106,S700_3962,The Queen Mary,Ships,1:700,Welly Diecast Productions,Exact replica. Wood and Metal. Many extras inc...,5088,53.63,99.31
107,S700_4002,American Airlines: MD-11S,Planes,1:700,Second Gear Diecast,Polished finish. Exact replia with official lo...,8820,36.27,74.03
108,S72_1253,Boeing X-32A JSF,Planes,1:72,Motor City Art Classics,"10"" Wingspan with retractable landing gears.Co...",4857,32.77,49.66
109,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60

### Proses Transform (detail)
1. **Pembersihan data**: Menghapus data duplikat, menangani nilai yang hilang, dan memperbaiki kesalahan data.
2. **Penggabungan data**: Menggabungkan data dari berbagai sumber menjadi satu set data yang konsisten.
3. **Penghitungan dan agregasi**: Melakukan perhitungan atau agregasi data sesuai kebutuhan analisis.


- Merging Data
- Cleaning Data
- Normalizing Data dan Aggregating Data

### Proses Load (detail)
1. **Persiapan target penyimpanan**: Menyiapkan database atau data warehouse untuk menerima data.
2. **Memuat data**: Memasukkan data yang telah diubah ke dalam target penyimpanan.
3. **Verifikasi pemuatan**: Memastikan bahwa data telah dimuat dengan benar dan lengkap.  

#### Data warehouse
Data warehouse adalah sistem penyimpanan data yang dirancang untuk mendukung analisis dan pelaporan bisnis. Data warehouse mengintegrasikan data dari berbagai sumber dan menyimpannya dalam format yang terstruktur untuk memudahkan akses dan analisis.

#### Alat ETL Populer
1. **Apache NiFi**: Alat open-source untuk mengotomatisasi aliran data antara sistem.
2. **Talend**: Platform ETL yang menyediakan berbagai alat untuk integrasi data.
3. **Informatica PowerCenter**: Solusi ETL komersial yang banyak digunakan di perusahaan besar.
4. **Microsoft SQL Server Integration Services (SSIS)**: Alat ETL yang terintegrasi dengan Microsoft SQL Server.
5. **Apache Airflow**: Platform orkestrasi alur kerja yang dapat digunakan untuk mengelola proses ETL.
6. **N8N**: Alat otomasi alur kerja open-source yang mendukung integrasi data dan proses ETL.


#### Library ETL untuk Pandas
1. **Pandas**: Library Python yang sangat populer untuk manipulasi dan analisis data.
2. **BeautifulSoup**: Library Python untuk ekstraksi data dari file HTML dan XML.
3. **SQLAlchemy**: Library Python untuk bekerja dengan database SQL.
4. **gspread**: Library Python untuk bekerja dengan Google Sheets.
5. **Google-cloud-bigquery**: Library Python untuk bekerja dengan Google BigQuery.
6. **Requests**: Library Python untuk melakukan permintaan HTTP dan mengambil data dari API.

## ETL Process
### Load data volume besar dengan chunking
Untuk memuat data yang cukup besar, kita dapat menggunakan metode chunking pada pandas. Metode ini memungkinkan kita untuk membaca dan memproses data dalam potongan-potongan kecil, sehingga mengurangi penggunaan memori.
### Ketidak konsistenan data
Ketidak konsistenan data dapat terjadi ketika data berasal dari berbagai sumber yang berbeda. Misalnya, format tanggal yang berbeda, penggunaan satuan yang berbeda, atau penamaan kolom yang tidak konsisten. Untuk mengatasi masalah ini, kita perlu melakukan pembersihan dan transformasi data sebelum memuatnya ke dalam sistem penyimpanan data.
### Perubahan sumber data
Sumber data dapat berubah dari waktu ke waktu, misalnya struktur tabel yang berubah, penambahan atau penghapusan kolom, atau perubahan format data. Untuk mengatasi masalah ini, kita perlu memantau sumber data secara berkala dan memperbarui proses ETL sesuai kebutuhan. 
### Limitasi Tools
Beberapa alat ETL mungkin memiliki keterbatasan dalam hal kapasitas pemrosesan data, dukungan untuk berbagai sumber data, atau kemampuan transformasi data. Untuk mengatasi masalah ini, kita perlu memilih alat ETL yang sesuai dengan kebutuhan bisnis dan memastikan bahwa alat tersebut dapat menangani volume dan kompleksitas data yang dihadapi.

## Optimalisasi proses ETL
Untuk mengoptimalkan proses ETL, kita dapat melakukan beberapa langkah berikut:
1. **Paralelisasi**: Memproses data secara paralel untuk meningkatkan kecepatan pemrosesan.
2. **Penggunaan indeks**: Menggunakan indeks pada database untuk mempercepat query dan pemuatan data.
3. **Pemantauan kinerja**: Memantau kinerja proses ETL secara berkala dan mengidentifikasi bottleneck yang perlu diatasi.
4. **Penggunaan alat yang tepat**: Memilih alat ETL yang sesuai dengan kebutuhan bisnis dan memastikan bahwa alat tersebut dapat menangani volume dan kompleksitas data yang dihadapi.