## Dictionary dan Functions

### Dictionary
---
Dictionary adalah tipe data yang menyimpan data dalam bentuk pasangan key-value. Key berfungsi sebagai identitas unik untuk setiap value dalam dictionary. Dictionary dapat diakses, dimodifikasi, dan dihapus menggunakan key-nya.

In [ ]:

## Contoh Dictionary
nct_member = {
    "jaemin": {"nama_lengkap": "Na Jaemin","usia": 22, "posisi": "rapper"},
    "mark": {"nama_lengkap": "Mark Lee","usia": 21, "posisi": "rapper"},
    "jeno": {"nama_lengkap": "Jeno Lee","usia": 20, "posisi": "rapper"},
    "renjun": {"nama_lengkap": "Renjun Lee","usia": 19, "posisi": "vocalist"},
    "haechan": {"nama_lengkap": "Haechan Lee","usia": 18, "posisi": "vocalist"},
    "chenle": {"nama_lengkap": "Chenle Lee","usia": 19, "posisi": "vocalist"},
    "jisung": {"nama_lengkap": "Park Ji-sung","usia": 17, "posisi": "dancer"}
}


print(nct_member["jaemin"]["nama_lengkap"]) # Output: Na Jaemin
print(nct_member["mark"]["usia"]) # Output: 21
print(nct_member["jeno"]["posisi"]) # Output: rapper
print(nct_member["renjun"]["nama_lengkap"]) # Output: Renjun Lee
print(nct_member["haechan"]["usia"]) # Output: 18
print(nct_member["chenle"]["posisi"]) # Output: vocalist
print(nct_member["jisung"]["nama_lengkap"]) # Output: Park Ji-sung

Na Jaemin
21
rapper
Renjun Lee
18
vocalist
Park Ji-sung
Na Jaemin

In [ ]:
identitas = {
    'Nama Lengkap': 'Na Jaemin',
    'Nama Panggilan': 'Jaemin',
    'TTL': '13 Agustus 2000',
    'Alamat': 'Seoul, Korea Selatan',
    'Posisi di NCT Dream': 'Rapper, Dancer, Visual'
}

print(identitas)  # Output: Semuanya data dalam dictionary
print(identitas['Nama Lengkap'])  # Output: Na Jaemin
print(identitas['Nama Panggilan'])  # Output: Jaemin
print(identitas['TTL'])  # Output: 13 Agustus 2000
print(identitas['Alamat'])  # Output: Seoul, Korea Selatan
print(identitas['Posisi di NCT Dream'])  # Output: Rapper, Dancer, Visual

{'Nama Lengkap': 'Na Jaemin', 'Nama Panggilan': 'Jaemin', 'TTL': '13 Agustus 2000', 'Alamat': 'Seoul, Korea Selatan', 'Posisi di NCT Dream': 'Rapper, Dancer, Visual'}
Na Jaemin
Jaemin
13 Agustus 2000
Seoul, Korea Selatan
Rapper, Dancer, Visual

In [25]:
import pandas as pd

identitas = {
    'Nama Lengkap': 'Na Jaemin',
    'Nama Panggilan': 'Jaemin',
    'TTL': '13 Agustus 2000',
    'Alamat': 'Seoul, Korea Selatan',
    'Posisi di NCT Dream': 'Rapper, Dancer, Visual'
}

# Ubah dictionary menjadi DataFrame (1 baris)
df_identitas = pd.DataFrame([identitas])
display(df_identitas) 

#mengubah data
identitas['Alamat'] = 'Incheon, Korea Selatan'

df_identitas = pd.DataFrame([identitas])
display(df_identitas)


#menabah data
identitas['Hobi'] = 'Menari'

kolom_urut = ['Nama Lengkap', 'Nama Panggilan', 'TTL', 'Alamat', 'Hobi', 'Posisi di NCT Dream']

df_identitas = pd.DataFrame([identitas])
df_identitas = df_identitas[kolom_urut]
display(df_identitas)

#menghapus data
del identitas['Hobi']
df_identitas = pd.DataFrame([identitas])
display(df_identitas)

identitas.pop('Hobi', None)  # Tidak error jika key tidak ada
df_identitas = pd.DataFrame([identitas])
display(df_identitas)

identitas.popitem()
df_identitas = pd.DataFrame([identitas])
display(df_identitas)

,Nama Lengkap,Nama Panggilan,TTL,Alamat,Posisi di NCT Dream
0,Na Jaemin,Jaemin,13 Agustus 2000,"Seoul, Korea Selatan","Rapper, Dancer, Visual"

,Nama Lengkap,Nama Panggilan,TTL,Alamat,Posisi di NCT Dream
0,Na Jaemin,Jaemin,13 Agustus 2000,"Incheon, Korea Selatan","Rapper, Dancer, Visual"

,Nama Lengkap,Nama Panggilan,TTL,Alamat,Hobi,Posisi di NCT Dream
0,Na Jaemin,Jaemin,13 Agustus 2000,"Incheon, Korea Selatan",Menari,"Rapper, Dancer, Visual"

,Nama Lengkap,Nama Panggilan,TTL,Alamat,Posisi di NCT Dream
0,Na Jaemin,Jaemin,13 Agustus 2000,"Incheon, Korea Selatan","Rapper, Dancer, Visual"

,Nama Lengkap,Nama Panggilan,TTL,Alamat,Posisi di NCT Dream
0,Na Jaemin,Jaemin,13 Agustus 2000,"Incheon, Korea Selatan","Rapper, Dancer, Visual"

  Nama Lengkap Nama Panggilan              TTL                  Alamat
0    Na Jaemin         Jaemin  13 Agustus 2000  Incheon, Korea Selatan

In [28]:
print(identitas)

for i in identitas:
    print(i)

{'Nama Lengkap': 'Na Jaemin', 'Nama Panggilan': 'Jaemin', 'TTL': '13 Agustus 2000', 'Alamat': 'Incheon, Korea Selatan'}
Nama Lengkap
Nama Panggilan
TTL
Alamat

In [29]:
for i in identitas.values():
    print(i)

Na Jaemin
Jaemin
13 Agustus 2000
Incheon, Korea Selatan

In [36]:
for i, j in identitas.items():
    print(f'Key: {i}, Value: {j}')


for i, j in identitas.items():
    print('---------------')
    print(i, j)

Key: Nama Lengkap, Value: Na Jaemin
Key: Nama Panggilan, Value: Jaemin
Key: TTL, Value: 13 Agustus 2000
Key: Alamat, Value: Incheon, Korea Selatan
---------------
Nama Lengkap Na Jaemin
---------------
Nama Panggilan Jaemin
---------------
TTL 13 Agustus 2000
---------------
Alamat Incheon, Korea Selatan

In [ ]:
# penggunaan len
print(len(identitas))

4

In [46]:
# Nested Dictionary
nct_member = {
    "jaemin": {
        "nama_lengkap": "Na Jaemin",
        "usia": 22,
        "posisi": "rapper"
    },
    "jeno": {
        "nama_lengkap": "Jeno Lee",
        "usia": 20,
        "posisi": "rapper"
    },
    "jisung": {
        "nama_lengkap": "Park Ji-sung",
        "usia": 17,
        "posisi": "dancer"
    },
    "mark": {
        "nama_lengkap": "Mark Lee",
        "usia": 21,
        "posisi": "rapper"
    },
    "renjun": {
        "nama_lengkap": "Renjun Lee",
        "usia": 19,
        "posisi": "vocalist"
    },
    "haechan": {
        "nama_lengkap": "Haechan Lee",
        "usia": 18,
        "posisi": "vocalist"
    },
    "chenle": {
        "nama_lengkap": "Chenle Lee",
        "usia": 19,
        "posisi": "vocalist"
    }
}

print('Member NCT:\n')
for member in nct_members:
    print(f"Nama Lengkap: {member['nama_lengkap']}")
    print(f"Usia: {member['usia']}")
    print(f"Posisi: {member['posisi']}\n")
# Membuat dictionary baru dengan format berbeda

Member NCT:

Nama Lengkap: Na Jaemin
Usia: 22
Posisi: rapper

Nama Lengkap: Jeno Lee
Usia: 20
Posisi: rapper

Nama Lengkap: Park Ji-sung
Usia: 17
Posisi: dancer

In [51]:
# Dictionary didalam list
nct_members = [
    {
        "nama_lengkap": "Na Jaemin",
        "usia": 22,
        "posisi": "rapper"
    },
    {
        "nama_lengkap": "Jeno Lee",
        "usia": 20,
        "posisi": "rapper"
    },
    {
        "nama_lengkap": "Park Ji-sung",
        "usia": 17,
        "posisi": "dancer"
    },
]


print("Member NCT:")
print("Index\t | Nama Lengkap\t | Usia\t | Posisi")
print("---------------------------------------------------")
for index, member in enumerate(nct_members):
    print(f"{index}\t | {member['nama_lengkap']}\t | {member['usia']}\t | {member['posisi']}")

Member NCT:
Index	 | Nama Lengkap	 | Usia	 | Posisi
---------------------------------------------------
0	 | Na Jaemin	 | 22	 | rapper
1	 | Jeno Lee	 | 20	 | rapper
2	 | Park Ji-sung	 | 17	 | dancer

### Functions
---
Functions adalah blok kode yang dirancang untuk melakukan tugas tertentu. Functions dapat menerima input (parameter), memprosesnya, dan mengembalikan output (return value). Functions membantu dalam mengorganisasi kode, meningkatkan keterbacaan, dan memungkinkan penggunaan ulang kode.

In [58]:
# Regular Functions
def rata_rata(angka):
    jumlah = 0
    for i in angka:
        jumlah = jumlah + i
    

    rata2 = jumlah / len(angka)

    return round(rata2, 2)

In [63]:
data1 = [70, 80, 90, 100]
data2 = [60, 75, 85, 95, 100]

rata1 = rata_rata(data1)
rata2 = rata_rata(data2)
print(f'Rata-rata data1: {rata1}')
print(f'Rata-rata data2: {rata2}')

Rata-rata data1: 85.0
Rata-rata data2: 83.0

In [64]:
## Multiple Retyrn Values

def rata_rata(angka):
    jumlah = 0
    for i in angka:
        jumlah = jumlah + i
    

    rata2 = jumlah / len(angka)

    return False, rata2, angka

In [67]:
rata1 = rata_rata(data1)
rata2 = rata_rata(data2)

print(rata1)  # Output: (False, 85.0, [70, 80, 90, 100])
print(rata2)  # Output: (False, 82.0, [60, 75, 85, 95, 100])

print(f'Rata-rata data1 adalah {rata1[1]} dimana data aslinya adalah {rata1[2]}')
print(f'Rata-rata data2 adalah {rata2[1]} dimana data aslinya adalah {rata2[2]}')

(False, 85.0, [70, 80, 90, 100])
(False, 83.0, [60, 75, 85, 95, 100])
Rata-rata data1 adalah 85.0 dimana data aslinya adalah [70, 80, 90, 100]
Rata-rata data2 adalah 83.0 dimana data aslinya adalah [60, 75, 85, 95, 100]

** Notes:**
1. Input: Parameter - Dalam case diatas adalah `angka`
2. Process: Proses yang dilakukan di dalam function - Dalam case diatas adalah menghitung rata-rata
3. Output: Return Value - Dalam case diatas adalah `rata2`

In [71]:
## Function - No Input, No Output
def sapa():
    print("Halo, selamat pagi!")
    print("Apa kabar hari ini?")
    print("Semoga harimu menyenangkan!")
    print("Jangan lupa sarapan ya!")
    print("Sampai jumpa lagi!")

def inputAngka():
    x = int(input("Masukkan angka: "))
    print(f"Angka yang dimasukkan adalah: {x}")


#Parameter tidak ada = tidak ada input
#Return tidak ada = tidak ada output
#Input ada = ada input
#Return ada = ada output

sapa()
inputAngka()

Halo, selamat pagi!
Apa kabar hari ini?
Semoga harimu menyenangkan!
Jangan lupa sarapan ya!
Sampai jumpa lagi!
Angka yang dimasukkan adalah: 25

In [ ]:
## Function - No Input with Output

def inputAngka():
    kosong = []
    for i in range(5):
        x = int(input("Masukkan angka: "))
        kosong.append(x)
    return kosong

In [75]:
data = inputAngka()

rata_rata(data)

(False, 45.4, [52, 52, 45, 54, 24])

## Tugas

In [ ]:
# Buat kasus