In [2]:
# Load Data

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from scipy.stats import shapiro # Normalitas
from scipy.stats import ttest_1samp, ttest_ind, ttest_rel, f_oneway # Parametrik
from scipy.stats import wilcoxon, mannwhitneyu, kruskal  # Non Parametrik


tips = sns.load_dataset('tips')
sales = pd.read_csv('sales_data.csv')

display(tips.head())
display(sales.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

,order_id,order_date,product_category,brand,price,quantity,region,customer_age,payment_method,customer_rating,total_sales
0,ORD10000,2025-05-13 10:16:33.883392,Printer,Brother,1603.26,4,East,57,E-Wallet,5,6413.04
1,ORD10001,2023-11-20 10:16:33.883392,Camera,Logitech,407.70,4,East,53,E-Wallet,1,2446.20
2,ORD10002,2023-08-23 10:16:33.883392,Tablet,HP,1570.40,2,South,67,Credit Card,1,3140.80
3,ORD10003,2024-05-05 10:16:33.883392,Monitor,Garmin,1213.86,4,West,60,Credit Card,1,5826.53
4,ORD10004,2024-04-04 10:16:33.883392,Monitor,LG,919.37,2,South,54,Credit Card,3,1838.74

**Apakah tip yang diberikan oleh perempuan Lebih Besar Dari 2 Dollar?**


- H0 : Tip yang diberikan Perempuan <= 2 Dollar
- H1 : Tip yang diberikan Perempuan > 2 Dollar

In [6]:
# Uji Normalitas `Tip`

stat, pval_norm = shapiro(tips['tip'])

if pval_norm < 0.05 :
    print('Data Tidak Berdistribusi Normal')
else :
    print('Data Berdistribusi Normal')

Data Tidak Berdistribusi Normal

In [13]:
# Wilcoxon

compare = tips['tip'] - 2

stat_wil, pval_wil = wilcoxon(compare, 0, alternative = 'greater')

if pval_wil < 0.05 :
    print('Tolak H0, Sehingga Kesimpulannya Adalah Tip Dari Perempuan > 2 Dollar')
else :
    print('Gagal Tolak H0, Sehingga Kesimpulannya Adalah Tip Dari Perempuan <= 2 Dollar')

Tolak H0, Sehingga Kesimpulannya Adalah Tip Dari Perempuan > 2 Dollar

In [14]:
tips[tips['sex'] == 'Female']['tip'].median()

np.float64(2.75)

In [15]:
smoker = tips[tips['smoker'] == 'Yes']
nonsmoker = tips[tips['smoker'] == 'No']

ttest_ind(smoker['tip'], nonsmoker['tip'])

TtestResult(statistic=np.float64(0.09222805186888201), pvalue=np.float64(0.9265931522244976), df=np.float64(242.0))